footer {
  .footer-inner {
    &-top {
      #block-auxmenu-2 {

        ul {
          justify-content: flex-start;
          margin-left: 1em;

          li {
            padding-right: 2em;

            a {
              color: white;
            }

            span {
              background-color: white;
            }
          }
        }
      }

      #block-socialmedia {
        margin-left: auto;
      }
    }

    &-middle {
        #block-footer {
            width: 100%;
        }
      }
  }
}