.input-wrapper {
  --padding: 22px;
  --focus-color: black;
  position: relative;
  display: flex;
  align-items: center;
  padding-bottom: 22px;
}

input {
  padding: var(--padding);
  border: 2px solid gray;
  outline: none;
  border-radius: 6px;
}

.placeholder {
  position: absolute;
  background-color: white;
  color: gray;
  left: var(--padding);
  padding: 0 4px;
  transition: all 0.2s ease-in;
  margin-top: 24px;
}

input:is(:focus, :valid) {
  border: 2px solid var(--focus-color);
}

input:is(:focus, :valid) + .placeholder {
  transform: translatey(calc(-1 * var(--padding) - 12px));
  font-size: 14px;
  color: var(--focus-color);
}

.button {
  background: #202945;
  color: white;
  font: inherit;
  line-height: 1;
  padding: 1em 2em;
  --color: white;
  --hover: #445794;
  transition: 0.5s;
  border-radius: 0.3125rem;
}
.button:hover, .button:focus {
  border: 2px solid;
  border-color: var(--hover);
  color: --color;
  box-shadow: inset 0 0 0 2em var(--hover);
  cursor: pointer;
}
@media screen and (max-width: 550px) {
  .button {
    width: 100%;
    display: block;
    text-align: center;
  }
}

.secondary {
  background-color: var(--SecondaryColor, #757575);
}

#block-tailwind-primary-local-tasks {
  position: absolute;
  bottom: 0;
  width: 94vh;
}

span.swiper-pagination-bullet.swiper-pagination-bullet-active.swiper-pagination-bullet-active-main {
  background: black;
  border: 1px solid black;
  padding: 5px;
}

.grid-section h2::after {
  display: block;
  content: " ";
  width: 6.875rem;
  height: 2px;
  margin: 2rem 0 2.5rem;
  background-color: var(--SecondaryColor, #757575);
}
.grid-section h3.cards::after {
  display: block;
  content: " ";
  width: 15%;
  height: 2px;
  margin: 2rem 0 2.5rem;
  background-color: var(--SecondaryColor, #757575);
}
.grid-section .arrow {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-top: 2px solid var(--SecondaryColor, #757575);
  border-left: 2px solid var(--SecondaryColor, #757575);
  border-color: var(--SecondaryColor, #757575);
  transform: rotate(135deg);
}
.grid-section .arrow:hover {
  text-decoration: underline;
}
.grid-section .card p {
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: "NeurialGrotesk-Regular", sans-serif;
  color: #333;
  margin-bottom: 1.5625rem;
  font-weight: 300;
}
.grid-section .card ul {
  margin-left: 1.25rem;
  list-style-type: disc;
}
.grid-section .card ul li {
  font-size: 1rem;
  font-family: "NeurialGrotesk-Regular", sans-serif;
  color: #333;
}

.general-content h2, .uneven-columns h2 {
  font-size: 2rem;
  font-weight: 300;
}
.general-content h3, .uneven-columns h3 {
  font-size: 1.625rem;
  font-weight: 500;
}
.general-content ol,
.general-content ul, .uneven-columns ol,
.uneven-columns ul {
  margin-left: 2.5rem;
}
.general-content ol, .uneven-columns ol {
  list-style-type: decimal;
}
.general-content li, .uneven-columns li {
  list-style-type: circle;
}
.general-content blockquote, .uneven-columns blockquote {
  padding: 1.5625rem;
  margin: 0 0 1rem;
  border-left: 1px solid #cacaca;
}
.general-content blockquote p, .uneven-columns blockquote p {
  text-align: center;
  font-size: 1.25rem;
  margin-bottom: 0;
  color: var(--PrimaryColor, #757575);
}
.general-content p, .uneven-columns p {
  color: #333;
  margin-bottom: 1rem;
  font-size: inherit;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
}
.general-content .primary,
.general-content .primary p, .uneven-columns .primary,
.uneven-columns .primary p {
  color: white;
}
.general-content .primary .button:not(.secondary),
.general-content .primary p .button:not(.secondary), .uneven-columns .primary .button:not(.secondary),
.uneven-columns .primary p .button:not(.secondary) {
  background-color: white;
  color: #000;
}
.general-content table, .uneven-columns table {
  width: 100%;
  word-break: break-all;
}
.general-content table thead, .uneven-columns table thead {
  background: #f8f8f8;
  color: #0a0a0a;
}
.general-content table thead tr, .uneven-columns table thead tr {
  background: transparent;
}
.general-content table thead tr td, .uneven-columns table thead tr td {
  padding: 0.5rem 0.625rem 0.625rem;
  font-weight: bold;
  text-align: left;
}
.general-content table thead tr th, .uneven-columns table thead tr th {
  color: var(--PrimaryColor, #757575);
}
.general-content table tbody, .uneven-columns table tbody {
  background-color: #fefefe;
}
.general-content table tbody tr, .uneven-columns table tbody tr {
  border-bottom: 1px solid #9f9f9f;
}
.general-content table tbody tr th, .uneven-columns table tbody tr th {
  color: #757575;
  text-align: left;
  text-transform: uppercase;
  font-weight: 500;
  padding: 1.5rem 0.625rem;
}
.general-content table tbody tr td, .uneven-columns table tbody tr td {
  padding: 1.5rem 0.625rem;
  color: #333;
}
.general-content code, .uneven-columns code {
  padding: 0.125rem 0.3125rem 0.0625rem;
  border: 1px solid #cacaca;
  background-color: #e6e6e6;
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  font-weight: normal;
  color: #0a0a0a;
}
.general-content em,
.general-content i, .uneven-columns em,
.uneven-columns i {
  font-style: italic;
  line-height: inherit;
}

.testimonial .primary,
.testimonial .primary p, .uneven-columns .primary,
.uneven-columns .primary p {
  color: white;
}
.testimonial .primary .button:not(.secondary),
.testimonial .primary p .button:not(.secondary), .uneven-columns .primary .button:not(.secondary),
.uneven-columns .primary p .button:not(.secondary) {
  background-color: white;
  color: #000;
}

footer .footer-inner-top #block-auxmenu-2 ul {
  justify-content: flex-start;
  margin-left: 1em;
}
footer .footer-inner-top #block-auxmenu-2 ul li {
  padding-right: 2em;
}
footer .footer-inner-top #block-auxmenu-2 ul li a {
  color: white;
  font-weight: bold;
}
footer .footer-inner-top #block-auxmenu-2 ul li span {
  background-color: white;
}
footer .footer-inner-top #block-socialmedia {
  margin-left: auto;
}
footer .footer-inner-middle #block-footer {
  width: 100%;
}