.input-wrapper {
  --padding: 22px;
  --focus-color: black;
  position: relative;
  display: flex;
  align-items: center;
  padding-bottom: 22px;
}

input {
  padding: var(--padding);
  border: 2px solid gray;
  outline: none;
  border-radius: 6px;
}

.placeholder {
  position: absolute;
  background-color: white;
  color: gray;
  left: var(--padding);
  padding: 0 4px;
  transition: all 0.2s ease-in;
  margin-top: 24px;
}

input:is(:focus, :valid) {
  border: 2px solid var(--focus-color);
}

input:is(:focus, :valid) + .placeholder {
  transform: translatey(calc(-1 * var(--padding) - 12px));
  font-size: 14px;
  color: var(--focus-color);
}

.button {
  background: #202945;
  color: white;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
  --color: white;
  --hover: #445794;
  transition: 0.5s;
}
.button:hover, .button:focus {
  border-color: var(--hover);
  color: --color;
  box-shadow: inset 0 0 0 2em var(--hover);
  cursor: pointer;
}

#block-tailwind-primary-local-tasks {
  position: absolute;
  bottom: 0;
  width: 94vh;
}

span.swiper-pagination-bullet.swiper-pagination-bullet-active.swiper-pagination-bullet-active-main {
  background: black;
  border: 1px solid black;
  padding: 5px;
}

footer .footer-inner-top #block-auxmenu-2 ul {
  justify-content: flex-start;
  margin-left: 1em;
}
footer .footer-inner-top #block-auxmenu-2 ul li {
  padding-right: 2em;
}
footer .footer-inner-top #block-auxmenu-2 ul li a {
  color: white;
  font-weight: bold;
}
footer .footer-inner-top #block-auxmenu-2 ul li span {
  background-color: white;
}
footer .footer-inner-top #block-socialmedia {
  margin-left: auto;
}
footer .footer-inner-middle #block-footer {
  width: 100%;
}