footer .footer-inner-top #block-auxmenu-2 ul {
  justify-content: flex-start;
  margin-left: 1em;
}
footer .footer-inner-top #block-auxmenu-2 ul li {
  padding-right: 2em;
}
footer .footer-inner-top #block-auxmenu-2 ul li a {
  color: white;
  font-weight: bold;
}
footer .footer-inner-top #block-auxmenu-2 ul li span {
  background-color: white;
}
footer .footer-inner-top #block-socialmedia {
  margin-left: auto;
}
footer .footer-inner-middle #block-footer {
  width: 100%;
}