/* Any modifications to the number of variables or their names will need to be reflected in _colors.scss and with consideration for affiliate sites */

:root {
  --primary-first: #202945;
  --primary-second: #202945;
  --primary-third: #F1F3F8;
  --primary-fourth: #1C3685;

  --secondary-first: #006CFA;
  --secondary-second: #1C3685;
}

.dbt, .ibt, .wbt, .nmbt, .rmb, .cwb, .mbt, .mjb, .abt, .fbt, .bbv, .pwm, .hltf, .rps {
  display: none;
}

.pvb {
  display: run-in;
  display: initial;
}

footer .footer > ul li ul li.dbt,
footer .footer > ul li ul li.ibt,
footer .footer > ul li ul li.nmbt,
footer .footer > ul li ul li.rmb,
footer .footer > ul li ul li.cwb,
footer .footer > ul li ul li.mbt,
footer .footer > ul li ul li.mjb,
footer .footer > ul li ul li.wbt,
footer .footer > ul li ul li.fbt,
footer .footer > ul li ul li.bbv,
footer .footer > ul li ul li.abt,
footer .footer > ul li ul li.pwm {
  display: none;
}

footer .footer > ul li ul li.pvb {
  display: block;
}
