// Alerts
.alerts-section {
  .alert-body {
    strong {
        font-weight: bold;
    }
  }

  a {
    text-decoration: underline;
    font-weight: 700;
    font-size: 0.875rem;

    &:hover,
    &:focus,
    &:active {
      text-decoration: none !important;
    }
  }
}

.text-htlfMessageText {
  --tw-text-opacity: 1;
  color: rgb(84 138 133 / var(--tw-text-opacity));
}

.text-htlfNoticeText {
  --tw-text-opacity: 1;
  color: rgb(138 128 84 / var(--tw-text-opacity));
}

.text-htlfWarningText {
  --tw-text-opacity: 1;
  color: rgb(138 84 89 / var(--tw-text-opacity));
}

