.desktop-navigation {
  //Section for additional desktop menu changes
}

.mobile-navigation {
  .mobile-menu {
    .menu {
      .menu-item {
        font-size: 1.25em;
        padding-bottom: 1em;

        //Section for secondary menu list
        .menu {
          padding: 1em 1em 0;
          .menu-item {
            font-size: 1em;
          }
        }
      }

      .is-active {
        color: var(--PrimaryColor);
        font-weight: 500;
        text-decoration: solid underline var(--SecondaryColor) 2px;
      }
    }
  }
}

.expandable {
  .secondary-title-link {
  
    &::after {
    border-style: solid;
    border-width: 0.2em 0.2em 0 0;
    content: "";
    display: inline-block;
    height: 0.5em;
    left: 0.5em;
    position: relative;
    top: 0.5em;
    transform: rotate(-45deg);
    vertical-align: top;
    width: 0.5em;
    top: .5em;
    transform: rotate(135deg);
    border-color: var(--PrimaryColor)
  }
}
}

.secondary-menu {
  .menu-underline {
    display: none;
  }

  .secondary-title-link {
    font-size: 1.1rem;
    text-decoration: solid underline black 2px;
    padding-bottom: 15px;
    &::after {
        display: none;
    }
  }

  .tertiary-menu {
    max-width: 50%;

    li {
      &:hover {
        text-decoration: solid underline var(--SecondaryColor) 2px;
      }
    }
  }
}
