.location {
  .hours {
    h3 {
      font-size: 1.625rem;
      font-weight: 500;
      margin-bottom: .75rem;
    }

    p {
      font-size: inherit;
      line-height: 1.6;
      text-rendering: optimizeLegibility;
      margin-bottom: 1rem;
    }
  }
}


.social-share {
  svg {
    height: 3em;
    color: var(--PrimaryColor);

    :hover {
      color: var(--SecondaryColor);
    }
  }
}