//Generic Form Fields outside of templates & tailwind
.input-wrapper {
  --padding: 22px;
  --focus-color: black;
  position: relative;
  display: flex;
  align-items: center;
  padding-bottom: 22px;
}

input {
  padding: var(--padding);
  border: 2px solid gray;
  outline: none;
  border-radius: 6px;
}
.placeholder {
  position: absolute;
  background-color: white;
  color: gray;
  left: var(--padding);
  padding: 0 4px;
  transition: all 0.2s ease-in;
  margin-top: 24px;
}

input:is(:focus, :valid) {
  border: 2px solid var(--focus-color);
}

input:is(:focus, :valid) + .placeholder {
  transform: translatey(calc(-1 * var(--padding) - 12px));
  font-size: 14px;
  color: var(--focus-color);
}

.button {
  background: #202945;
  color: white;
  font: inherit;
  line-height: 1;
  padding: 1em 2em;
  --color: white;
  --hover: #445794;
  transition: 0.5s;
  border-radius: 0.3125rem;

  &:hover,
  &:focus {
    border: 2px solid;
    border-color: var(--hover);
    color: --color;
    box-shadow: inset 0 0 0 2em var(--hover);
    cursor: pointer;
  }

  @media screen and (max-width: 550px) {
    width: 100%;
    display: block;
    text-align: center;
  }
}

.secondary {
  background-color: var(--SecondaryColor, #757575);
}

// Content Editor Primary Node Actions
#block-tailwind-primary-local-tasks {
  position: absolute;
  bottom: 0;
  width: 94vh;
}

//Banner
span.swiper-pagination-bullet.swiper-pagination-bullet-active.swiper-pagination-bullet-active-main {
  background: black;
  border: 1px solid black;
  padding: 5px;
}

//Grid
.grid-section {
  h2 {
    &::after {
      display: block;
      content: " ";
      width: 6.875rem;
      height: 2px;
      margin: 2rem 0 2.5rem;
      background-color: var(--SecondaryColor, #757575);
    }
  }

  h3.cards {
    &::after {
      display: block;
      content: " ";
      width: 15%;
      height: 2px;
      margin: 2rem 0 2.5rem;
      background-color: var(--SecondaryColor, #757575);
    }
  }

  .arrow {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-top: 2px solid var(--SecondaryColor, #757575);
    border-left: 2px solid var(--SecondaryColor, #757575);
    border-color: var(--SecondaryColor, #757575);
    transform: rotate(135deg);
    &:hover {
      text-decoration: underline;
    }
  }

  .card {
    p {
      font-size: 1rem;
      line-height: 1.5rem;
      font-family: "NeurialGrotesk-Regular", sans-serif;
      color: #333;
      margin-bottom: 1.5625rem;
      font-weight: 300;
    }

    ul {
      margin-left: 1.25rem;
      list-style-type: disc;

      li {
        font-size: 1rem;
        font-family: "NeurialGrotesk-Regular", sans-serif;
        color: #333;
      }
    }
  }
}

//General Site Settings
.general-content, .uneven-columns {
  h2 {
    font-size: 2rem;
    font-weight: 300;
  }

  h3 {
    font-size: 1.625rem;
    font-weight: 500;
  }

  ol,
  ul {
    margin-left: 2.5rem;
  }

  ol {
    list-style-type: decimal;
  }

  li {
    list-style-type: circle;
  }

  blockquote {
    padding: 1.5625rem;
    margin: 0 0 1rem;
    border-left: 1px solid #cacaca;

    p {
      text-align: center;
      font-size: 1.25rem;
      margin-bottom: 0;
      color: var(--PrimaryColor, #757575);
    }
  }

  p {
    color: #333;
    margin-bottom: 1rem;
    font-size: inherit;
    line-height: 1.6;
    text-rendering: optimizeLegibility;
  }

  .primary,
  .primary p {
    color: white;

    .button:not(.secondary) {
      background-color: white;
      color: #000;
    }
  }

  table {
    width: 100%;
    word-break: break-all;

    thead {
      background: #f8f8f8;
      color: #0a0a0a;

      tr {
        background: transparent;

        td {
          padding: 0.5rem 0.625rem 0.625rem;
          font-weight: bold;
          text-align: left;
        }

        th {
          color: var(--PrimaryColor, #757575);
        }
      }
    }

    tbody {
      background-color: #fefefe;

      tr {
        border-bottom: 1px solid #9f9f9f;

        th {
          color: #757575;
          text-align: left;
          text-transform: uppercase;
          font-weight: 500;
          padding: 1.5rem 0.625rem;
        }

        td {
          padding: 1.5rem 0.625rem;
          color: #333;
        }
      }
    }
  }

  code {
    padding: 0.125rem 0.3125rem 0.0625rem;
    border: 1px solid #cacaca;
    background-color: #e6e6e6;
    font-family: Consolas, "Liberation Mono", Courier, monospace;
    font-weight: normal;
    color: #0a0a0a;
  }

  em,
  i {
    font-style: italic;
    line-height: inherit;
  }
}

.testimonial, .uneven-columns {
  .primary,
  .primary p {
    color: white;

    .button:not(.secondary) {
      background-color: white;
      color: #000;
    }
  }
}

.accordion-tabs {
  .arrow {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-top: 2px solid var(--SecondaryColor, #757575);
    border-left: 2px solid var(--SecondaryColor, #757575);
    border-color: var(--SecondaryColor, #757575);
    transform: rotate(135deg);
    &:hover {
      text-decoration: underline;
    }
  }
}