//Generic Form Fields outside of templates & tailwind
.button {
  background: var(--PrimaryColor, #757575);
  color: white;
  font: inherit;
  line-height: 1;
  padding: 1em 2em;
  --color: white;
  --hover: #445794;
  transition: 0.3s;
  border-radius: 0.3125rem;
  display: inline-block;
  text-align: center;
  line-height: 1.25em;

  &:hover,
  &:focus {
    //border: 2px solid;
    border-color: var(--hover);
    color: --color;
    box-shadow: inset 0 0 0 3em var(--hover);
    cursor: pointer;
  }

  @media screen and (max-width: 550px) {
    width: 100%;
    display: block;
    text-align: center;
  }
}

.secondary {
  background-color: var(--SecondaryColor, #757575);
}

// Content Editor Primary Node Actions
#block-tailwind-primary-local-tasks {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  z-index: 9999;
}

.status-message {
  .placeholder {
    position: unset;

    a {
      color: var(--PrimaryColor, #757575);
    }
  }
}

//Banner
span.swiper-pagination-bullet.swiper-pagination-bullet-active.swiper-pagination-bullet-active-main {
  background: black;
  border: 1px solid black;
  padding: 5px;
}

//Grid
.grid-section {
  h2 {
    &::after {
      display: block;
      content: " ";
      width: 6.875rem;
      height: 2px;
      margin: 2rem 0 2.5rem;
      background-color: var(--SecondaryColor, #757575);
    }
  }

  h3.cards {
    &::after {
      display: block;
      content: " ";
      width: 15%;
      height: 2px;
      margin: 2rem 0 2.5rem;
      background-color: var(--SecondaryColor, #757575);
    }
  }
  .arrow {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-top: 2px solid var(--PrimaryColor, #757575);
    border-left: 2px solid var(--PrimaryColor, #757575);
    border-color: var(--PrimaryColor, #757575);
    transform: rotate(135deg);
    &:hover {
      text-decoration: underline;
    }
  }

  .card {
    p {
      font-size: 1.1rem;
      line-height: 1.65rem;
      //font-family: "NeurialGrotesk-Regular", sans-serif;
      color: #333;
      margin-bottom: 1.5625rem;
      font-weight: 300;
    }

    ul {
      margin-left: 1.25rem;
      list-style-type: disc;

      li {
        font-size: 1rem;
        //font-family: "NeurialGrotesk-Regular", sans-serif;
        color: #333;
      }
    }
  }

  .smallcallouts {
    .card {
      max-width: 80%;
      color: black;
      h3 {
        font-size: 2.5rem;
        line-height: 1.13;
        letter-spacing: -0.4px;
        color: black;
      }
      p {
        margin-top: 0.5rem;
        font-size: 1.125rem;
        color: black;
      }
    }
    a {
      position: absolute;
      bottom: 10%;
      font-size: 1.2rem;
    }
    .arrow {
      border-top: 2px solid black;
      border-left: 2px solid black;
      border-color: black;
    }
  }

  .with-image * {
    color: white !important;
    text-decoration: white !important;

    h2::after,
    h3::after {
      background-color: white !important;
    }

    .card * {
      color: white !important;
    }

    .arrow {
      border-color: white !important;
    }
  }
}

//General Site Settings
.general-content,
.uneven-columns {
  h2 {
    font-size: 2rem;
    font-weight: 300;
  }

  h3 {
    font-size: 1.625rem;
    font-weight: 500;
  }

  ol,
  ul {
    margin-left: 2.5rem;
  }

  ol {
    list-style-type: decimal;
  }

  li {
    list-style-type: circle;
  }

  blockquote {
    padding: 1.5625rem;
    margin: 0 0 1rem;
    border-left: 1px solid #cacaca;

    p {
      text-align: center;
      font-size: 1.25rem;
      margin-bottom: 0;
      color: var(--PrimaryColor, #757575);
    }
  }

  p {
    color: #333;
    margin-bottom: 1rem;
    font-size: inherit;
    line-height: 1.6;
    text-rendering: optimizeLegibility;
  }

  .primary,
  .primary p {
    color: white;

    .button:not(.secondary) {
      background-color: white;
      color: #000;
    }
  }

  code {
    padding: 0.125rem 0.3125rem 0.0625rem;
    border: 1px solid #cacaca;
    background-color: #e6e6e6;
    font-family: Consolas, "Liberation Mono", Courier, monospace;
    font-weight: normal;
    color: #0a0a0a;
  }

  em,
  i {
    font-style: italic;
    line-height: inherit;
  }
}

//General Content Specifically
.general-content {
  a {
    color: var(--PrimaryColor, #757575);
    font-weight: bold;
    &:hover {
      text-decoration: underline;
    }
  }

  .button {
    color: white;
    font-weight: normal;
    &:hover {
      text-decoration: none;
    }
  }

  .grid-x {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    .medium-4 {
      width: calc(33.33333% - 1.875rem);

      @media screen and (max-width: 550px) {
        width: 100%;
      }
    }
  }
}

.testimonial,
.uneven-columns {
  .primary,
  .primary p {
    color: white;

    .button:not(.secondary) {
      background-color: white;
      color: #000;
    }
  }
}

.accordion-tabs {
  .arrow {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-top: 3px solid var(--PrimaryColor);
    border-left: 3px solid var(--PrimaryColor);
    border-color: var(--PrimaryColor);
    transform: rotate(135deg);
    &:hover {
      text-decoration: underline;
    }
  }
}

.featured-product {
  h2 {
    color: #fefefe;
    font-family: NeurialGrotesk-Regular, sans-serif;
    font-size: 3.375rem;
    font-weight: 300;
    line-height: 1.25;

    strong {
      font-family: NeurialGrotesk-Bold, sans-serif;
      font-weight: 500;
    }

    @media screen and (max-width: 750px) {
      font-size: 2.5rem;
      padding-bottom: 3rem;
    }
  }

  p {
    color: #fefefe;
    font-size: 1.1rem;
    line-height: 1.75;
    @media screen and (max-width: 750px) {
      padding-bottom: 1rem;
    }
  }

  .button {
    font-size: 1rem;
    color: var(--PrimaryColor, #757575);
    background-color: transparent;
    padding: 1.125rem 3rem;
    border-radius: 4px;
    border: solid 1px var(--PrimaryColor, #757575);
  }
}

//Middle Content
.middle-content-section {
  .general-content-inner {
    padding-top: 0 !important;
  }

  &_sidebar {
    font-size: 1.625rem;
    font-weight: 300;
    line-height: 1.31;

    .button {
      font-size: 1rem;
    }
  }
}

//Blog Posts Filtered Topics
.blog-post-form {
  select:not([size]) {
    background-size: 0.6rem 0.6rem;
  }

  a {
    background-color: var(--PrimaryColor);
  }
}

//Online Banking Modal
.inv {
  display: none;
}

//Table responsivenss
.tailwind-table {
  display: block;
  width: 100%;
  overflow: auto;

  table {
    width: 100%;
    word-break: auto-phrase;

    thead {
      background: #f8f8f8;
      color: #0a0a0a;

      tr {
        background: transparent;

        td {
          padding: 0.5rem 0.625rem 0.625rem;
          font-weight: bold;
          text-align: left;
        }

        th {
          color: var(--PrimaryColor, #757575);
        }
      }
    }

    tbody {
      background-color: #fefefe;

      tr {
        border-bottom: 1px solid #9f9f9f;

        th {
          color: #757575;
          text-align: left;
          text-transform: uppercase;
          font-weight: 500;
          padding: 1.5rem 0.625rem;
        }

        td {
          padding: 1.5rem 0.625rem;
          color: #333;
        }
      }
    }
  }
}

//Search Modal & Form
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 200ms;
  visibility: hidden;
  opacity: 0;
  &.light {
    background: rgba(255, 255, 255, 0.5);
  }
  .cancel {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: default;
  }
  &:target {
    visibility: visible;
    opacity: 1;
  }
}

.popup {
  margin: 75px auto;
  padding: 20px;
  background: #fff;
  border: 1px solid #666;
  width: 300px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  position: relative;
  .light & {
    border-color: #aaa;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
  }
  h2 {
    margin-top: 0;
    color: #666;
    font-family: "Trebuchet MS", Tahoma, Arial, sans-serif;
  }
  .close {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 20px;
    right: 20px;
    opacity: 0.8;
    transition: all 200ms;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #666;
    &:hover {
      opacity: 1;
    }
  }
  .content {
    max-height: 400px;
    overflow: auto;
  }
  p {
    margin: 0 0 1em;
    &:last-child {
      margin: 0;
    }
  }
}


