.blog-post-sidebar_view {
  .views-row {
    padding: 20px 0;
    border-bottom: solid 1px #e8e8e8;

    .views-field-title {
      font-size: 1rem;
      margin: 0;
      color: var(--PrimaryColor);
      font-weight: 500;

      &:hover {
        text-decoration: underline;
        color: var(--SeconadaryColor);
      }
    }
  }
}

//Blog Posts Pargraph Referenced View

.blog-post-views {
  &-recent,
  &-tag,
  &-category {
    .views-field-title {
      font-size: 1.3125rem;
      line-height: 1.29;
      font-weight: 500;
      color: var(--PrimaryColor);
    }

    .views-field-field {
      &-blog-time {
        padding: 0.5rem 0 0.25rem;
        font-size: 0.875rem;
        color: #757575;
        word-break: break-all;
      }
    }
  }

  &-full {
    .views-field-title {
      font-size: 1.625rem;
      line-height: 1.23;
      font-weight: 500;
      color: var(--PrimaryColor);
      padding-bottom: 1rem;
    }

    .views-field-field {
      &-blog-time {
        padding: 0.5rem 0 0.25rem;
        font-size: 0.875rem;
        color: #757575;
        word-break: break-all;
      }
    }
  }

  &-featured {
    .blog-posts-feature {
      &-main {
        .views-field-field-blog-image {
          min-height: 32rem;
          flex: 1 0 60%;

          img {
            object-fit: cover;
            min-height: 32rem;
            width: 100%;
          }
        }

        .views-field-fieldset {
          padding: 2.625rem 3.75rem;

          .views-field-title {
            font-size: 2rem;
            line-height: 1.25;
            font-weight: 500;
            color: var(--PrimaryColor);
          }
        }
      }
    }

    &-secondary {
      .views-field-field-blog-image {
        min-height: 25rem;

        img {
          object-fit: cover;
        }
      }

      .views-field-fieldset {
        padding: 2.625rem 3.75rem;

        .views-field-title {
          font-size: 1.65rem;
          line-height: 1.25;
          font-weight: 500;
          color: var(--PrimaryColor);
        }
      }
    }
  }
}
