/* Any modifications to the number of variables or their names will need to be reflected in _colors.scss and with consideration for affiliate sites */

:root {
  --primary-first: #094c7d;
  --primary-second: #094c7d;
  --primary-third: #eaf3fb;
  --primary-fourth: #0E78C4;

  --secondary-first: #DFB92F;
  --secondary-second: #DFB92F;
}

.dbt, .ibt, .wbt, .nmbt, .rmb, .cwb, .mbt, .mjb, .abt, .pvb, .fbt, .pwm, .hltf, .rps {
  display: none;
}

.bbv {
  display: run-in;
  display: initial;
}

footer .footer > ul li ul li.dbt,
footer .footer > ul li ul li.ibt,
footer .footer > ul li ul li.nmbt,
footer .footer > ul li ul li.rmb,
footer .footer > ul li ul li.cwb,
footer .footer > ul li ul li.mbt,
footer .footer > ul li ul li.mjb,
footer .footer > ul li ul li.wbt,
footer .footer > ul li ul li.pvb,
footer .footer > ul li ul li.fbt,
footer .footer > ul li ul li.abt,
footer .footer > ul li ul li.pwm  {
  display: none;
}

footer .footer > ul li ul li.bbv {
  display: block;
}
