{#
/**
 * @file
 * Theme override for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 */
#}

<form{{ attributes.addClass('container w-11/12 xl:w-9/12 m-auto max-w-7xl pt-8') }}>
  {{ children }}
</form>
